* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #262626;
    position: fixed;
    top: 0.5%;
    left: 50%;
    transform: translateX(-50%);
    width: 98%;
    box-sizing: border-box;
    border-radius: 10px;
    z-index: 1000;
}

li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: 'Arial', sans-serif;
    }

/* Nav bar 2.1*/
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    
}

.nav-menu {
    display: fixed;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

}

.nav-branding {
    font-size: 2rem;
}

.nav-link {
    transition: 0.7s ease;
}

.nav-link:hover {
    color: darkslategray;
}

.hamburger {
    display: block;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


@media (max-width: 768px) {
    .hamburger {
        display: block;
        position: fixed;
        right: 24px;
        top: 24px;
        z-index: 1000;
        cursor: pointer;
        border: 0px;
    }

    .hamburger.active.bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active.bar:nth-child(1) {
        transform: translate(8px) rotate(45deg);
    }

    .hamburger.active.bar:nth-child(3) {
        transform: translate(-8px) rotate(-45deg);
    }
    /* Maybe .nav-link or .nav-item? Regardless, 
    modifying this does not move the 4 descriptors at all*/
    .nav-menu {
        position: fixed;   
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #262626;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin: 16px 0;
    }

    .nav-menu.active {
        left: 0;
    }
}

.back-box {
    box-shadow: #111111;
}

.intro-main {
    content: fixed;
    padding-top: 5%;
    padding-bottom: 100px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: large;
    font-style: oblique;
}

.main {
    margin-bottom: 500px;
    max-height: calc(100vh - 500px);
    overflow: auto;
    position: relative;
}


@media only screen and (max-width: 700px) {
    .responsive {
    width: 49.99999%;
    margin: 6px 0;
    }
    }    
@media only screen and (max-width: 500px) {
    .responsive {
    width: 100%;
    }
    }
    
@media only screen and (max-height: 700px){
    .responsive {
    width: 100%;
    }
    }
 
.clearfix:after {
    content: "";
    display: table;
    clear: both;
    }

  

    [data-interactive]:hover,
    [data-interactive]:focus-within {
        background: #111111;
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
        transform: translateY(-0.5rem);
    }
      


.parallax {
    background-image: url(/assets/images/skyline-1.png);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.foreground-image {
    position: absolute;
    top: 100%; 
    left: 50%;
    transform: translate(-50%, -50%);
    width: 101%; 
    z-index: 999;
    background: linear-gradient(to bottom, rgba(38, 38, 38, 38) rgba(38, 38, 38, 38));
}